<section id="#contact.html">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Кабинет</li>
            </ol>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <ul class="nav nav-pills">
                <li class="nav-items">
                    <a class="nav-link active" data-toggle="pill" href="#home"><i class="fas fa-user"></i>Персональные
                        данные</a>
                </li>
                <li class="nav-items">
                    <a class="nav-link" data-toggle="pill" href="#menu1"><i class="fas fa-shopping-bag"></i>Мои
                        заказы</a>
                </li>
                <li class="nav-items">
                    <a class="nav-link" data-toggle="pill" href="#menu2"><i class="fas fa-map-marker-alt"></i>Адресная
                        книга</a>
                </li>
                <li class="nav-items">
                    <a class="nav-link" data-toggle="pill" href="#menu3"><i class="fas fa-heart"></i>Избранные
                        товары</a>
                </li>
                <li class="nav-items">
                    <a class="nav-link" data-toggle="pill" href="index.html"><i class="fas fa-door-open"></i>Выйти</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane container active" id="home">
                    <div class="container">
                        <div class="tab-pane-title">
                            <p>Персональные данные</p>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <form action="">
                                    <label for="">Имя*</label>
                                    <input type="text" placeholder="Eshmat">
                                </form>
                                <form action="" class="input-daterange">
                                    <label class=" form-control-placeholder" id="start-p" for="start">Дата
                                        рождения*</label>
                                    <input type="text" id="start" class="form-control text-left mr-2" placeholder="
                                    день / месяц / год ">
                                </form>
                                <form action="">
                                    <label for="">Номер телефона*</label>
                                    <input type="tel" placeholder="+998990786192">
                                </form>
                            </div>
                            <div class="col-md-6">
                                <form action="">
                                    <label for="">Фамилия*</label>
                                    <input type="text" placeholder="Eshmatov">
                                </form>
                                <form action="" class="d-flex">
                                    <label for="" class="mb-5">Пол*</label>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optradio">Мужской
                                        </label>
                                    </div>
                                    <div class="form-check-inline">
                                        <label class="form-check-label">
                                            <input type="radio" class="form-check-input" name="optradio">Женский
                                        </label>
                                    </div>
                                </form>
                                <div class="form-group">
                                    <label for="email">Адрес эл. почты</label>
                                    <input type="email" placeholder="Enter email" id="email">
                                </div>
                            </div>
                            <div class="btn-contact">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
                                <button type="button" class="btn btn-dark"><a
                                        href="#contact.html">Сохранить</a></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane container fade" id="menu1">
                    <ul class="nav-pill d-flex">
                        <li class="pill-item active">
                            <a class="pill-link" data-toggle="pill" href="#menu1">Ожидание заказов</a>
                        </li>
                        <li class="pill-item">
                            <a class="pill-link" data-toggle="pill" href="#item1">Активные заказы</a>
                        </li>
                        <li class="pill-item">
                            <a class="pill-link" data-toggle="pill" href="#item2">Завершенные заказы</a>
                        </li>
                    </ul>
                    <div class="tabs-content">
                        <div class="tabs-pane active" id="menu1">
                            <div class="cart-on">
                                <div class="tabs-pane-title">
                                    <p>Номер заказа №123123</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="tabs-about">
                                            <div class="tab-card">
                                                <div class="tab-card-img">
                                                    <img src="img/box-2.png" alt="">
                                                </div>
                                                <div class="tab-card-text">
                                                    <span>5x 6 160 сум за 1шт </span>
                                                    <p>Drink Fanta <br>
                                                        sugar free 1.5L</p>
                                                </div>
                                            </div>
                                            <div class="tab-card">
                                                <div class="tab-card-img">
                                                    <img src="img/box-3.png" alt="">
                                                </div>
                                                <div class="tab-card-text">
                                                    <span>5x 6 160 сум за 1шт </span>
                                                    <p>Drink Fanta <br>
                                                        sugar free 1.5L</p>
                                                </div>
                                            </div>
                                            <div class="tab-card">
                                                <div class="tab-card-img">
                                                    <img src="img/box-4.png" alt="">
                                                </div>
                                                <div class="tab-card-text">
                                                    <span>5x 6 160 сум за 1шт </span>
                                                    <p>Drink Fanta <br>
                                                        sugar free 1.5L</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="texs">
                                            <p>Номер заказа:</p>
                                            <span>№123123</span>
                                        </div>
                                        <div class="texs">
                                            <p>Время заказа:</p>
                                            <span>20-11-2020 16:22</span>
                                        </div>
                                        <div class="texs">
                                            <p>Количество:</p>
                                            <span>4 товаров</span>
                                        </div>
                                        <div class="texs">
                                            <p>Адрес доставки:</p>
                                            <span>Ташкент, Юнусабадский район,
                                                Farobiy 2 </span>
                                        </div>
                                        <div class="texs">
                                            <p>Способ оплаты:</p>
                                            <span><img src="img/payme.png" alt=""></span>
                                        </div>
                                        <div class="texs">
                                            <p>Итоговая цена:</p>
                                            <span>437 580 сум</span>
                                        </div>
                                        <button type="button" class="btn-x btn-danger">Отменить заказ</button>

                                    </div>
                                </div>
                            </div>
                            <div class="cart-on">
                                <div class="tabs-pane-title">
                                    <p>Номер заказа №123123</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="tabs-about">
                                            <div class="tab-card">
                                                <div class="tab-card-img">
                                                    <img src="img/box-2.png" alt="">
                                                </div>
                                                <div class="tab-card-text">
                                                    <span>5x 6 160 сум за 1шт </span>
                                                    <p>Drink Fanta <br>
                                                        sugar free 1.5L</p>
                                                </div>
                                            </div>
                                            <div class="tab-card">
                                                <div class="tab-card-img">
                                                    <img src="img/box-3.png" alt="">
                                                </div>
                                                <div class="tab-card-text">
                                                    <span>5x 6 160 сум за 1шт </span>
                                                    <p>Drink Fanta <br>
                                                        sugar free 1.5L</p>
                                                </div>
                                            </div>
                                            <div class="tab-card">
                                                <div class="tab-card-img">
                                                    <img src="img/box-4.png" alt="">
                                                </div>
                                                <div class="tab-card-text">
                                                    <span>5x 6 160 сум за 1шт </span>
                                                    <p>Drink Fanta <br>
                                                        sugar free 1.5L</p>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="texs">
                                            <p>Номер заказа:</p>
                                            <span>№123123</span>
                                        </div>
                                        <div class="texs">
                                            <p>Время заказа:</p>
                                            <span>20-11-2020 16:22</span>
                                        </div>
                                        <div class="texs">
                                            <p>Количество:</p>
                                            <span>4 товаров</span>
                                        </div>
                                        <div class="texs">
                                            <p>Адрес доставки:</p>
                                            <span>Ташкент, Юнусабадский район,
                                                Farobiy 2 </span>
                                        </div>
                                        <div class="texs">
                                            <p>Способ оплаты:</p>
                                            <span><img src="img/payme.png" alt=""></span>
                                        </div>
                                        <div class="texs">
                                            <p>Итоговая цена:</p>
                                            <span>437 580 сум</span>
                                        </div>
                                        <button type="button" class="btn-x btn-danger">Отменить заказ</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane container fade" id="item2">
                        </div>
                        <div class="tab-pane container fade" id="item3">
                        </div>
                    </div>
                </div>
                <div class="tab-pane container fade" id="menu2">
                    <div class="location">
                        <div class="container">
                            <div class="location-title">
                                <p>Адресная книга</p>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="location-box">
                                        <div class="loc-box-titl">
                                            <p>Работа</p>
                                            <a href="#">Изменить</a>
                                        </div>
                                        <span>2118 Thornridge Cir. Syracuse, <br>
                                            Connecticut 35624</span>
                                    </div>
                                    <div class="location-box">
                                        <div class="loc-box-titl">
                                            <p>Работа</p>
                                            <a href="#">Изменить</a>
                                        </div>
                                        <span>2118 Thornridge Cir. Syracuse, <br>
                                            Connecticut 35624</span>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="location-box">
                                        <div class="loc-box-titl">
                                            <p>Работа</p>
                                            <a href="#">Изменить</a>
                                        </div>
                                        <span>2118 Thornridge Cir. Syracuse, <br>
                                            Connecticut 35624</span>
                                    </div>
                                </div>
                            </div>
                            <div class="loca-adres">
                                <button class="loc-btn btn-dark" data-toggle="modal" data-target="#myModal2"><a
                                        href="#">Добавить адрес</a></button>
                            </div>
                            <div class="modal fade" id="myModal2">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Редактирование адреса</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="location-reg">
                                                        <div class="form-group">
                                                            <label for="">Название*</label>
                                                            <input type="text" placeholder="Home">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Район*</label>
                                                            <input type="text" placeholder="Yunusabad">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="location-reg">
                                                        <div class="form-group">
                                                            <label for="">Город*</label>
                                                            <input type="text" placeholder="Tashkent">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Адрес*</label>
                                                            <input type="text" placeholder="Farobiy 9">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="footer-title">
                                                <p>Показать на карте</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="map-content">
                                                        <iframe
                                                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11991.080781535138!2d69.25198195!3d41.292105649999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1615460421790!5m2!1sru!2s"
                                                            width="300" height="200"
                                                            style="border:0; border-radius: 25px;" allowfullscreen=""
                                                            loading="lazy"></iframe>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="bnt-content">
                                                        <button type="button" class="btn btn-dark" data-toggle="modal"
                                                            data-target="#myModal3"><a href="#">Сохранить
                                                                изменения</a></button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Удалить адрес</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="myModal3">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">

                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                            <h4 class="modal-title">Редактирование адреса</h4>
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="location-reg">
                                                        <div class="form-group">
                                                            <label for="">Название*</label>
                                                            <input type="text" placeholder="Home">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Район*</label>
                                                            <input type="text" placeholder="Yunusabad">
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="location-reg">
                                                        <div class="form-group">
                                                            <label for="">Город*</label>
                                                            <input type="text" placeholder="Tashkent">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="">Адрес*</label>
                                                            <input type="text" placeholder="Farobiy 9">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="footer-title">
                                                <p>Показать на карте</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="map-content">
                                                        <iframe
                                                            src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d11991.080781535138!2d69.25198195!3d41.292105649999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1615460421790!5m2!1sru!2s"
                                                            width="300" height="200"
                                                            style="border:0; border-radius: 25px;" allowfullscreen=""
                                                            loading="lazy"></iframe>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="bnt-content">
                                                        <button type="button" class="btnx btn-dark"><a
                                                                href="#">Сохранить</a></button>
                                                        <button type="button" class="btn btn-secondary"
                                                            data-dismiss="modal">Отмена</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>
                <div class="tab-pane container fade" id="menu3">
                    <div class="heart">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="heart-box">
                                        <img src="img/box.png" alt="slide">
                                        <div class="heart-item">
                                            <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                            <p>Drink Fanta <br>
                                                sugar free 1.5L</p>
                                            <h5>6 160 сум</h5>
                                            <h6>за 1шт</h6>
                                            <button class="btn mr-auto"><a href="#"><i
                                                        class="fas fa-cart-plus"></i></a></button>
                                        </div>
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="heart-box">
                                        <img src="img/box-1.png" alt="slide">
                                        <div class="heart-item">
                                            <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                            <p>Chips Lay's Max <br>
                                                cheese 150g</p>
                                            <h5>6 160 сум</h5>
                                            <h6>за 1шт</h6>
                                            <button class="btn mr-auto"><a href="#"><i
                                                        class="fas fa-cart-plus"></i></a></button>
                                        </div>
                                        <input type="checkbox">
                                        <div class="sale">
                                            <p>-8%</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="heart-box">
                                        <img src="img/box-2.png" alt="slide">
                                        <div class="heart-item">
                                            <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                            <p>Drink Fanta <br>
                                                sugar free 1.5L</p>
                                            <h5>6 160 сум</h5>
                                            <h6>за 1шт</h6>
                                            <button class="btn mr-auto"><a href="#"><i
                                                        class="fas fa-cart-plus"></i></a></button>
                                        </div>
                                        <input type="checkbox">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="heart-box">
                                        <img src="img/box.png" alt="slide">
                                        <div class="heart-item">
                                            <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                            <p>Drink Fanta <br>
                                                sugar free 1.5L</p>
                                            <h5>6 160 сум</h5>
                                            <h6>за 1шт</h6>
                                            <button class="btn mr-auto"><a href="#"><i
                                                        class="fas fa-cart-plus"></i></a></button>
                                        </div>
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="heart-box">
                                        <img src="img/box-2.png" alt="slide">
                                        <div class="heart-item">
                                            <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                            <p>Drink Fanta <br>
                                                sugar free 1.5L</p>
                                            <h5>6 160 сум</h5>
                                            <h6>за 1шт</h6>
                                            <button class="btn mr-auto"><a href="#"><i
                                                        class="fas fa-cart-plus"></i></a></button>
                                        </div>
                                        <input type="checkbox">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="heart-box">
                                        <img src="img/box-1.png" alt="slide">
                                        <div class="heart-item">
                                            <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                            <p>Chips Lay's Max <br>
                                                cheese 150g</p>
                                            <h5>6 160 сум</h5>
                                            <h6>за 1шт</h6>
                                            <button class="btn mr-auto"><a href="#"><i
                                                        class="fas fa-cart-plus"></i></a></button>
                                        </div>
                                        <input type="checkbox">
                                        <div class="sale">
                                            <p>-8%</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

