<div class="nav-top">
    <div class="container">
        <div class="navbar-menu">
            <div class="brand-logo">
                <a href="/"><img src="/img/logo.png" alt="logo"></a>
            </div>
            <div class="contact">
                <div class="phone-box">
                    <a href="tel">Call-центр: +998 99 999 99 99</a>
                </div>
                <div class="lang">
                    <span>Ру</span>
                    <i class="fas fa-chevron-down ml-1"></i>
                    <div class="lang-list">
                        <a href="#ру">Uz</a>
                        <a href="#en">En</a>
                    </div>
                </div>
            </div>
            <div id="nav-icon1">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="hamburger-menu">
                <div class="container">
                    <div class="row">
                        <nav class="nav-boxs">
                            <div class="nav-bar">
                                    <li class="nav-bar-item"><a href="#"><img src="img/gg_menu-left.svg" alt="icon">Все категории</a>
                                        <ul class="item-nav d-none">
                                            <li class="nav-option"><a href="#"><i class="fal fa-burger-soda"></i> Еда</a>
                                                <div class="food-menu">
                                                    <div class="row">
                                                        <ul class="food-item">
                                                            <li class="food-type"><p>Овощи и фрукты</p></li>
                                                            <li class="food-type"><a href="#">Овощи</a></li>
                                                            <li class="food-type"><a href="#">фрукты</a></li>
                                                            <li class="food-type"><a href="#">Зелень</a></li>
                                                            <li class="food-type"><a href="#">Сухофрукты / орехи</a></li>
                                                        </ul>
                                                        <ul class="food-item">
                                                            <li class="food-type"><p>Яйца и молочные продукты</p></li>
                                                            <li class="food-type"><a href="#">Яйца</a></li>
                                                            <li class="food-type"><a href="#">Молоко / Кефир / айран</a></li>
                                                            <li class="food-type"><a href="#">Каймак / Сметана </a></li>
                                                            <li class="food-type"><a href="#">Йогурт / Творог </a></li>
                                                            <li class="food-type"><a href="#">Масло </a></li>
                                                            <li class="food-type"><a href="#">Сыр / сулугуни</a></li>
                                                        </ul>
                                                        <ul class="food-item">
                                                            <li class="food-type"><p>Мясо и мясные продукты</p></li>
                                                            <li class="food-type"><a href="#">Говядина</a></li>
                                                            <li class="food-type"><a href="#">Баранина</a></li>
                                                            <li class="food-type"><a href="#">Мясо птицы</a></li>
                                                            <li class="food-type"><a href="#">Крольчатина </a></li>
                                                            <li class="food-type"><a href="#">Свежая рыба </a></li>
                                                            <li class="food-type"><a href="#">Рыбные изделия</a></li>
                                                            <li class="food-type"><a href="#">Колбасные изделия </a></li>
                                                            <li class="food-type"><a href="#">Сосиски</a></li>
                                                        </ul>
                                                        <ul class="food-item">
                                                            <li class="food-type"><p>Вода и напитки</p></li>
                                                            <li class="food-type"><a href="#">Вода</a></li>
                                                            <li class="food-type"><a href="#">Квас, Морс</a></li>
                                                            <li class="food-type"><a href="#">Соки</a></li>
                                                            <li class="food-type"><a href="#">Газированные напитки </a></li>
                                                            <li class="food-type"><a href="#">Прохладительные напитки </a></li>
                                                            <li class="food-type"><a href="#">Энергетические напитки</a></li>
                                                            <li class="food-type"><a href="#">Колбасные изделия </a></li>
                                                        </ul>
                                                        <ul class="food-item">
                                                            <li class="food-type"><p>Торты и сладости</p></li>
                                                            <li class="food-type"><a href="#">Торты и пирожные</a></li>
                                                            <li class="food-type"><a href="#">Печенье/Вафли/Пряники</a></li>
                                                            <li class="food-type"><a href="#">Диабетические продукты</a></li>
                                                            <li class="food-type"><a href="#">Прочие сладости</a></li>
                                                            <li class="food-type"><a href="#">Шоколадные изделия </a></li>
                                                        </ul>
                                                        <ul>
                                                            <li class="food-img"><img src="img/Vector 12.png" alt="food"></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="nav-option"><a href="#"><i class="far fa-tshirt"></i> Одежда и обувь</a></li>
                                            <li class="nav-option"><a href="#"><i class="fas fa-mobile-android-alt"></i> Телефоны и гаджеты</a></li>
                                            <li class="nav-option"><a href="#"><i class="far fa-desktop"></i> Компьютеры</a></li>
                                            <li class="nav-option"><a href="#"><i class="fad fa-washer"></i> Бытовая техника</a></li>
                                            <li class="nav-option"><a href="#"><i class="fal fa-futbol"></i>Техника для кухни</a></li>
                                            <li class="nav-option"><a href="#"><i class="far fa-home"></i> Всё для дома и сада</a></li>
                                            <li class="nav-option"><a href="#"><i class="fal fa-futbol"></i> Спорт товары</a></li>
                                        </ul>
                                    </li>
                            </div>
                            <div class="search">
                                <div class="search-left">
                                    <a href="#"> <i class="far fa-search"></i>
                                        </a>
                                </div>
                                <div class="search-center">
                                    <input type="text" placeholder="Поиск товаров...">
                                </div>
                                <div class="search-right">
                                    <a href="#"><i class="fas fa-microphone"></i></a>
                                </div>
                            </div>
                            <div class="user">
                                <button class="user-btn" data-toggle="modal" data-target="#myModal"><i class="fas fa-user"></i>Eshonov Eshmat</button>
                            </div>
                            <div class="love">
                                <a href="#"><i class="fas fa-heart"></i><span class="badge badge-danger">2</span></a>
                            </div>
                            <div class="shop">
                                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal1" data-dismiss="modal"><i class="fas fa-shopping-cart"></i><span class="badge badge-danger">4</span></button>
                            </div>
                        </nav>
                        <div class="nav-item">
                            <a href="#">Акции и скидки</a>
                            <a href="food.html">Еда</a>
                            <a href="#">Напиток</a>
                            <a href="#">Фрукты</a>
                            <a href="#">Одежда</a>
                            <a href="#">Телефоны и гаджеты</a>
                            <a href="#">Компьютеры</a>
                            <a href="#">Бытовая техника</a>
                        </div>
                        <div class="contact">
                            <div class="phone-box">
                                <a href="tel">Call-центр: +998 99 999 99 99</a>
                            </div>
                            <div class="lang">
                                <span>Ру</span>
                                <i class="fas fa-chevron-down ml-1"></i>
                                <div class="lang-list">
                                    <a href="#ру">Uz</a>
                                    <a href="#en">En</a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
              </div>
        </div>
    </div>
</div>
<section>
    <div class="nav-block">
        <div class="container">
            <nav class="nav-boxs">
                <div class="nav-bar">
                        <li class="nav-bar-item"><a href="#"><img src="img/gg_menu-left.svg" alt="icon">Все категории</a>
                            <ul class="item-nav">
                                <li class="nav-option"><a href="#"><i class="fal fa-burger-soda"></i> Еда</a>
                                    <div class="food-menu">
                                        <div class="row">
                                            <ul class="food-item">
                                                <li class="food-type"><p>Овощи и фрукты</p></li>
                                                <li class="food-type"><a href="#">Овощи</a></li>
                                                <li class="food-type"><a href="#">фрукты</a></li>
                                                <li class="food-type"><a href="#">Зелень</a></li>
                                                <li class="food-type"><a href="#">Сухофрукты / орехи</a></li>
                                            </ul>
                                            <ul class="food-item">
                                                <li class="food-type"><p>Яйца и молочные продукты</p></li>
                                                <li class="food-type"><a href="#">Яйца</a></li>
                                                <li class="food-type"><a href="#">Молоко / Кефир / айран</a></li>
                                                <li class="food-type"><a href="#">Каймак / Сметана </a></li>
                                                <li class="food-type"><a href="#">Йогурт / Творог </a></li>
                                                <li class="food-type"><a href="#">Масло </a></li>
                                                <li class="food-type"><a href="#">Сыр / сулугуни</a></li>
                                            </ul>
                                            <ul class="food-item">
                                                <li class="food-type"><p>Мясо и мясные продукты</p></li>
                                                <li class="food-type"><a href="#">Говядина</a></li>
                                                <li class="food-type"><a href="#">Баранина</a></li>
                                                <li class="food-type"><a href="#">Мясо птицы</a></li>
                                                <li class="food-type"><a href="#">Крольчатина </a></li>
                                                <li class="food-type"><a href="#">Свежая рыба </a></li>
                                                <li class="food-type"><a href="#">Рыбные изделия</a></li>
                                                <li class="food-type"><a href="#">Колбасные изделия </a></li>
                                                <li class="food-type"><a href="#">Сосиски</a></li>
                                            </ul>
                                            <ul class="food-item">
                                                <li class="food-type"><p>Вода и напитки</p></li>
                                                <li class="food-type"><a href="#">Вода</a></li>
                                                <li class="food-type"><a href="#">Квас, Морс</a></li>
                                                <li class="food-type"><a href="#">Соки</a></li>
                                                <li class="food-type"><a href="#">Газированные напитки </a></li>
                                                <li class="food-type"><a href="#">Прохладительные напитки </a></li>
                                                <li class="food-type"><a href="#">Энергетические напитки</a></li>
                                                <li class="food-type"><a href="#">Колбасные изделия </a></li>
                                            </ul>
                                            <ul class="food-item">
                                                <li class="food-type"><p>Торты и сладости</p></li>
                                                <li class="food-type"><a href="#">Торты и пирожные</a></li>
                                                <li class="food-type"><a href="#">Печенье/Вафли/Пряники</a></li>
                                                <li class="food-type"><a href="#">Диабетические продукты</a></li>
                                                <li class="food-type"><a href="#">Прочие сладости</a></li>
                                                <li class="food-type"><a href="#">Шоколадные изделия </a></li>
                                            </ul>
                                            <ul>
                                                <li class="food-img"><img src="img/Vector 12.png" alt="food"></li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-option"><a href="#"><i class="far fa-tshirt"></i> Одежда и обувь</a></li>
                                <li class="nav-option"><a href="#"><i class="fas fa-mobile-android-alt"></i> Телефоны и гаджеты</a></li>
                                <li class="nav-option"><a href="#"><i class="far fa-desktop"></i> Компьютеры</a></li>
                                <li class="nav-option"><a href="#"><i class="fad fa-washer"></i> Бытовая техника</a></li>
                                <li class="nav-option"><a href="#"><i class="fal fa-futbol"></i>Техника для кухни</a></li>
                                <li class="nav-option"><a href="#"><i class="far fa-home"></i> Всё для дома и сада</a></li>
                                <li class="nav-option"><a href="#"><i class="fal fa-futbol"></i> Спорт товары</a></li>
                            </ul>
                        </li>
                </div>
                <div class="search">
                    <div class="search-left">
                        <a href="#"> <i class="far fa-search"></i>
                            </a>
                    </div>
                    <div class="search-center">
                        <input type="text" placeholder="Поиск товаров...">
                    </div>
                    <div class="search-right">
                        <a href="#"><i class="fas fa-microphone"></i></a>
                    </div>
                </div>
                <div class="user">
                    <button class="user-btn" data-toggle="modal" data-target="#myModal"><i class="fas fa-user"></i>Eshonov Eshmat</button>
                </div>
                <div class="love">
                    <a href="#"><i class="fas fa-heart"></i><span class="badge badge-danger">2</span></a>
                </div>
                <div class="shop" data-toggle="modal" data-target="#myModal4" data-dismiss="modal">
                    <a href="#"><i class="fas fa-shopping-cart"></i><span class="badge badge-danger">4</span></a>
                </div>
            </nav>
            
        </div>
    </div>
    
</section>
<section>
    <div class="container">
        <div class="nav-item">
            <a href="#">Акции и скидки</a>
            <a href="food.html">Еда</a>
            <a href="#">Напиток</a>
            <a href="#">Фрукты</a>
            <a href="clothing.html">Одежда</a>
            <a href="sport.html">Спорт товары</a>
            <a href="computer.html">Компьютеры</a>
            <a href="#">Бытовая техника</a>
        </div>
    </div>
</section>


<div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Авторизация</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form action="">
                <label for="text">Номер телефона</label>
                <input type="text" placeholder="+998990786192">
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
          <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#myModal1" data-dismiss="modal">Получить код</button>
        </div>
      </div>
    </div>
  </div>



  <div class="modal" id="myModal1">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Авторизация</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <form action="">
                <label for="text">Номер телефона</label>
                <input type="text" placeholder="+998990786192">
                <a href="#">Отправить еще раз</a>
            </form>
            <form action="">
                <label for="text">Введите код из СМС</label>
                <input type="text" placeholder="*** ***">
            </form>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
          <button  type="button" class="btn btn-dark" data-dismiss="modal"><a href="contact.html">Далее</a></button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal" id="myModal4">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Корзина</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <!-- Modal body -->
        <div class="modal-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <ul class="shop-market d-flex justify-content-between">
                            <div class="shop-img d-flex">
                                <img src="img/box-2.png" alt="">
                                <div class="shop-name">
                                    <p>Banana Royal mini  <br>
                                        weight 1kg</p>
                                </div>
                            </div>
                            <div class="shop-math">
                                <button class="btn-math-1">-</button>
                                <button class="btn-math-2">2 кг</button>
                                <button class="btn-math-3">+</button>
                            </div>
                            <div class="shop-sum">
                                <span>12 320 сум</span>
                            </div>
                            <span class="close">&times;</span>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="shop-market d-flex justify-content-between">
                            
                            <div class="shop-img d-flex">
                                <img src="img/box-2.png" alt="">
                            </div>
                            <div class="shop-name">
                                <p>Banana Royal mini  <br>
                                    weight 1kg</p>
                            </div>
                            <div class="shop-math">
                                <button class="btn-math-1">-</button>
                                <button class="btn-math-2">2 кг</button>
                                <button class="btn-math-3">+</button>
                            </div>
                            <div class="shop-sum">
                                <span>12 320 сум</span>
                            </div>
                            <span class="close">&times;</span>
                        </ul>
                    </div>
                    <div class="col-md-12">
                        <ul class="shop-market d-flex justify-content-between">
                            <div class="shop-img d-flex">
                                <img src="img/box-2.png" alt="">
                            </div>
                            <div class="shop-name">
                                <p>Banana Royal mini  <br>
                                    weight 1kg</p>
                            </div>
                            <div class="shop-math">
                                <button class="btn-math-1">-</button>
                                <button class="btn-math-2">2 кг</button>
                                <button class="btn-math-3">+</button>
                            </div>
                            <div class="shop-sum">
                                <span>12 320 сум</span>
                            </div>
                            <span class="close">&times;</span>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Отмена</button>
          <button  type="button" class="btn btn-dark" data-dismiss="modal"><a href="contact.html">Далее</a></button>
        </div>
      </div>
    </div>
  </div>


  
