<section id="#sport.html">
    <div class="container">
        <nav aria-label="breadcrumb" class="food-nav">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Главная</a></li>
                <li class="breadcrumb-item active" aria-current="page">Спорт товары</li>
            </ol>
            <div class="fod-drop">
                <span>По новизне</span>
                <i class="fas fa-chevron-down ml-1"></i>
                <div class="drop-list">
                    <a href="#">Все</a>
                    <a href="#">Сначала дешевые</a>
                    <a href="#">Сначала дорогие</a>
                </div>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3 d-block">
                <div class="food-category">
                    <p>Категория</p>
                    <a href="#">Спорт и развлечения</a>
                    <a href="#">Оборудование для <br>
                        спорта</a>
                    <a href="#">Всё для футбола</a>
                    <a href="#">Всё для тенниса</a>
                    <a href="#">Всё для единоборств</a>
                    <a href="#">Спортивное питание</a>
                </div>
                <ul id="accordion" class="accordion">
                    <li>
                        <div class="link">Торговая марка<i class="fa fa-chevron-down"></i></div>
                        <ul class="submenu">
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Ax Sport
                                    </label>
                                  </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Nike
                                    </label>
                                  </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Adidas
                                    </label>
                                  </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">New Balance
                                    </label>
                                  </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Reebok
                                    </label>
                                  </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="link">По ценам<i class="fa fa-chevron-down"></i></div>
                        <ul class="submenu">
                            <li>
                                <div class="form-group">
                                    <label for="num">от</label>
                                    <input type="number" class="form-control" id="num">
                                  </div>
                                  <div class="form-group">
                                    <label for="num">до</label>
                                    <input type="number" class="form-control" id="num">
                                  </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="link">Типы разделов<i class="fa fa-chevron-down"></i></div>
                        <ul class="submenu">
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Hовые
                                    </label>
                                  </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Бестселлеры
                                    </label>
                                  </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Скидки
                                    </label>
                                  </div>
                            </li>
                            <li>
                                <div class="form-check">
                                    <label class="form-check-label">
                                      <input type="checkbox" class="form-check-input" value="">Aкции
                                    </label>
                                  </div>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <div class="link"><a href="#">Сбросить фильтр</a></div>
                    </li>
                </ul>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-1.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                            <div class="sale">
                                <p>-8%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-2.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                            <div class="sale">
                                <p>-8%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-3.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-4.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                            <div class="sale">
                                <p>-8%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-5.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                            <div class="sale">
                                <p>-8%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-6.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-7.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                            <div class="sale">
                                <p>-8%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-8.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-9.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                            <div class="sale">
                                <p>-8%</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="food-box">
                            <img src="img/sport-10.png" alt="slide">
                            <div class="food-item">
                                <span><i class="far fa-comment-dots"></i>Oтзыв (15)</span>
                                <p>Drink Fanta <br>
                                    sugar free 1.5L</p>
                                <h5>6 160 сум</h5>
                                <h6>за 1шт</h6>
                                <button class="btn mr-auto"><a href="#"><i class="fas fa-cart-plus"></i></a></button>
                            </div>
                            <input type="checkbox">
                            <div class="sale">
                                <p>-8%</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="table-accardion">
                   
                </div>
                
            </div>
            <div class="col-md-9">
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 mb-5">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                          <span aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                        </a>
                      </li>
                      <li class="page-item"><a class="page-link" href="#">1</a></li>
                      <li class="page-item"><a class="page-link" href="#">2</a></li>
                      <li class="page-item"><a class="page-link active" href="#">3</a></li>
                      <li class="page-item"><a class="page-link" href="#">4</a></li>
                      <li class="page-item"><a class="page-link" href="#">5</a></li>
                      <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                          <span aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                        </a>
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
</section>